# GoogleAPI Client
export GOOGLE_CLIENT_ID='xxxxxxxxxxxxxxxxxxxxxxxxx'
export GOOGLE_CLIENT_SECRET='xxxxxxxxxxxxxxxxxxxxxxxxx'

# Factorio動画情報
export YOUTUBE_CHANNEL_ID='xxxxxxxxxxxxxxxx'
export SEASON_1_URL='https://www.youtube.com/playlist?list=xxxxxxxxxxxxxxxxxxxxx'
