# GoogleAPI Client
export GOOGLE_CLIENT_ID='xxxxxxxxxxxxxxxxxxxxxxxxx'
export GOOGLE_CLIENT_SECRET='xxxxxxxxxxxxxxxxxxxxxxxxx'

# Discord API
export DISCORD_BOT_TOKEN='xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
export DISCORD_GUILD_ID='xxxxxxxxxxxxxxxxxxxxxxx'
export DISCORD_TEXT_CHANNEL_ID='xxxxxxxxxxxxxxxxxxxxxxx'
export DISCORD_VOICE_CHANNEL_ID='xxxxxxxxxxxxxxxxxxxxxxx'

# Factorio動画情報
export YOUTUBE_CHANNEL_ID='xxxxxxxxxxxxxxxx'
export SEASON_1_URL='https://www.youtube.com/playlist?list=xxxxxxxxxxxxxxxxxxxxx'
